---
layout: default
---
<section class="drama">
  <div class="drama-scene drama-scene--brag">
    <div class="grid">
      <div class="cell cell--default12">
        <a class="title title--boxCapital" href="./">
          mapuan
          <br>
          tech
          <br>
          startups
        </a>
      </div>
    </div>
    <div class="rocket">
      <div class="rocket-body"></div>
      <div class="rocket-window"></div>
      <div class="rocket-wings"></div>
      <div class="rocket-emission"></div>
      <div class="rocket-fire"></div>
    </div>
    <div class="context">
      <div class="grid">
        <div class="cell cell--default4">
          <p class="context-description">
            &mdash; {{site.description}}
          </p>
        </div>
      </div>
    </div>
    <div class="trigger trigger--bottomRight">
      {% for page in site.pages %}
        {% if page.title %}
        <a class="button button--light button--filled" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        {% endif %}
      {% endfor %}
      <a class="button button--white" href="#blog-event">Event / Blog</a>
    </div>
  </div>
</section>
<section class="blog">
  <div class="grid grid--center">
    <div class="cell cell--phone4 cell--tablet8 cell--default6">
      <center>
        <h3 id="blog-event">Event / Blog</h3>
        <h3>
          <small>See what's new on Mapua Tech Startups.</small>
        </h3>
        <hr>
        <ul class="post-list">
          {% for post in site.posts %}
          <li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </center>
      <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
    </div>
  </div>
</section>
