{% if page.title %}
  <center><a href="/" class="button button--primary button--filled">Home</a></center>
{% endif %}
<hr>
<footer>
  <div class="grid grid--center">
    <div class="social cell cell--default6 cell--phone4 cell--tablet8">
      Join us:&nbsp;&nbsp;
      <a class="social-link social-link--facebook" href="https://www.facebook.com/groups/225295784331139">
        <i class="icon ion-social-facebook"></i>
      </a>
      <script async defer src="http://slack.mapuantechstartups.com/slackin.js?large"></script>
    </div>
  </div>
</footer>
