// NOTE: Start your styling below
// Uses base and bae for styling
body {
  height: 100%;
  width: 100%;
}
.drama {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex;
  align-items: flex;
  height: 100%;
  width: 100%;
}
.drama-scene.drama-scene--brag {
  background-color: $primary; // _color.scss
  color: $white;
  width: 100%;
  height: 100%;
}
.title {
  @include font-sansN7;
  text-decoration: none;
  color: $white;
}
.title--boxCapital {
  text-transform: uppercase;
}
.trigger--bottomRight {
  position: absolute;
  bottom: 12px;
  right: 12px;
}
.button {
  font-weight: 700;
}
.button.button--light {
  background-color: $whiteA1;
}
.context {
  position: absolute;
  bottom: 30px;
}
.context-description {
  color: $whiteA7;
}
.post-list {
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  vertical-align: middle;
}
.post-list li {
  margin-bottom: 20px;
}
.post-meta {
  @include font-sansI3;
  display: block;
  color: $blackA5;
}
.post-link {
  display: inline;
  color: $blackA8;
  font-size: 24px;
}
.social {
  color: $blackA2;
}
.social-link {
  font-size: 36px;
  text-decoration: none;
  vertical-align: middle;
}
.social-link--facebook {
  color: #3b5999;
}
// grid additionals
.grid--center {
  justify-content: center;
}
// slack button
.slack-button {
  vertical-align: middle;
}
@media #{$range-tablet-up} {
  .context {
    bottom: 0;
  }
}
